@import '../theme.scss';
@import '../utils.scss';

.dashboard {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dashboard__content {
  height: calc(100% - 3rem);
  overflow-x: hidden;
  overflow-y: auto;
}
