@import '../theme.scss';
@import '../utils.scss';

.breadcrumbs {
  background-color: $color-background;
  overflow: hidden;
  height: 2.2rem;
  position: relative;
  user-select: none;
  -moz-user-select: none;
}

.breadcrumbs__slider {
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.breadcrumbs__crumb {
  display: inline-block;
  list-style: none;
  word-wrap: none;
  font-size: 0.9rem;
  padding: 0.6rem 0;

  &:first-child {
    padding-left: 1rem;
  }

  &:last-child {
    padding-right: 1rem;
  }
}

.breadcrumbs__crumb-link {
  text-decoration: none;
  color: $color-label;

  &:hover {
    color: $color-primary;
  }
}

.breadcrumbs__crumb-separator {
  padding: 0 1rem;
}

.breadcrumbs__crumb--no-link {
  font-weight: bold;
}

.breadcrumbs__more-indicator {
  pointer-events: none;
  position: absolute;
  width: 3rem;
  height: 2.2rem;
  z-index: 1;
  line-height: 2.2rem;
  color: $color-label;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.breadcrumbs__more-indicator--left {
  padding-left: 0.5rem;
  left: 0;
  text-align: left;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0)
  );
}

.breadcrumbs__more-indicator--right {
  padding-right: 0.5rem;
  right: 0;
  text-align: right;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

.breadcrumbs__more-indicator--invisible {
  opacity: 0;
}
