@import '../utils.scss';
@import '../theme.scss';

.button {
  display: block;
  font-family: $font-family-primary;
  border: none;
  background-color: $color-neutral;
  color: $color-neutral-text;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: $border-radius;
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  line-height: 1rem;
  @include clearfix;
  text-align: center;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-neutral-focus;
  }

  &:disabled {
    opacity: 0.25;
    cursor: default;
  }
}

.button--pos-abs {
  position: absolute;
}

.button--small {
  padding: 0.35rem;
  font-size: 1rem;
  line-height: 1rem;
}

.button--x-small {
  padding: 0.1rem;
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.button--primary {
  background-color: $color-primary;
  color: $color-primary-text;
  box-shadow: $accent-box-shadow-1dp;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-primary-focus;
  }
  &:active:not(:disabled) {
    box-shadow: $accent-box-shadow-half-dp;
  }
}

.button--primary-outline {
  background-color: $color-primary-text;
  color: $color-primary;
  border-color: $color-primary;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--primary-caption {
  background-color: $color-primary-text;
  color: $color-primary;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--primary-caption {
  background-color: $color-primary-text;
  color: $color-primary;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--secondary {
  background-color: $color-secondary;
  color: $color-secondary-text;
  box-shadow: $accent-box-shadow-1dp;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-secondary-focus;
  }
  &:active:not(:disabled) {
    box-shadow: $accent-box-shadow-half-dp;
  }
}

.button--secondary-outline {
  background-color: $color-secondary-text;
  color: $color-secondary;
  border-color: $color-secondary;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--secondary-caption {
  background-color: transparent;
  color: $color-secondary;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--success {
  background-color: $color-success;
  color: $color-success-text;
  box-shadow: $accent-box-shadow-1dp;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-success-focus;
  }
  &:active:not(:disabled) {
    box-shadow: $accent-box-shadow-half-dp;
  }
}

.button--success-outline {
  background-color: $color-success-text;
  color: $color-success;
  border-color: $color-success;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--success-caption {
  background-color: $color-success-text;
  color: $color-success;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--danger {
  background-color: $color-danger;
  color: $color-danger-text;
  box-shadow: $accent-box-shadow-1dp;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-danger-focus;
  }
  &:active:not(:disabled) {
    box-shadow: $accent-box-shadow-half-dp;
  }
}

.button--danger-outline {
  background-color: $color-danger-text;
  color: $color-danger;
  border-color: $color-danger;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--danger-caption {
  background-color: $color-danger-text;
  color: $color-danger;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--warning {
  background-color: $color-warning;
  color: $color-warning-text;
  box-shadow: $accent-box-shadow-1dp;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-warning-focus;
  }
  &:active:not(:disabled) {
    box-shadow: $accent-box-shadow-half-dp;
  }
}

.button--warning-outline {
  background-color: $color-warning-text;
  color: $color-warning;
  border-color: $color-warning;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--warning-caption {
  background-color: $color-warning-text;
  color: $color-warning;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-outline-focus;
  }
}

.button--muted {
  background-color: $color-muted;
  color: $color-muted-text;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-muted-focus;
  }
}

.button--neutral {
  background-color: $color-neutral;
  color: $color-neutral-text;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color-neutral-focus;
  }
}

.button--link {
  display: table;
}

.button--right {
  float: right;
  margin-left: 0.5rem;
}

.button--left {
  float: left;
  margin-right: 0.5rem;
}

.button--center {
  margin-left: auto;
  margin-right: auto;
}
