@import '../theme.scss';
@import '../utils.scss';

.card {
  display: block;
  background-color: $color-background;
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: $accent-box-shadow-1dp;
  @include clearfix;

  .card__header {
    margin: 1rem;
    @include clearfix;
  }

  .card__body {
    margin: 1rem;
    @include clearfix;
  }

  .card__footer {
    margin: 1rem;
    @include clearfix;
  }
}
