@import '../theme.scss';
@import '../utils.scss';

@mixin col($span) {
  $frac-width: $span / 24 * 100%;
  width: calc(#{$frac-width} - 1rem);
  float: left;
}

.col {
  padding: 0;
  margin: 0;
  margin: 0 0.5rem 0 0.5rem;
  border-width: 0;
  outline-width: 0;
  min-height: 1px;
  overflow: visible;
  @include clearfix;
}

@for $i from 1 through 24 {
  .col--#{$i} {
    @include col($i);
  }
}

@mixin col-collapsed {
  width: 100%;
  margin: 0;
  float: none;
}

@media (max-width: $medium-device-max-width) {
  @for $i from 1 through 24 {
    .col--#{$i}:not(.col--stubborn) {
      @include col-collapsed;
    }
  }
}

@media (max-width: $small-device-max-width) {
  @for $i from 1 through 24 {
    .col--stubborn.col--#{$i} {
      @include col-collapsed;
    }
  }
}
