@import '../theme.scss';
@import '../utils.scss';

.page {
  margin: 1rem auto 0 auto;
  padding: 0 0.5rem;
  overflow: hidden;
}

@media (max-width: $small-device-max-width) {
  .page {
    margin: 0;
    padding: 0;
  }
}
