@import '../utils.scss';
@import '../theme.scss';

.draggable {
  position: relative;
  touch-action: none;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.draggable--dragging {
  z-index: 100;
}
