@import '../theme.scss';
@import '../utils.scss';

$file-input-height: 3rem;

.file-input {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
}

.file-input__input {
  width: 100%;
  height: $file-input-height;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.file-input__target-background {
  width: 100%;
  height: $file-input-height;
  margin-top: -$file-input-height;
  top: 0;
  z-index: 0;
  line-height: 3rem;
  text-align: center;
  border-radius: $border-radius;
  background-color: $color-secondary;
  color: $color-primary-text;
}

.file-input__target-container {
  @include clearfix;

  &:hover .file-input__target-background {
    background-color: $color-primary;
  }
}

.file-input__file-list {
  padding: 0.5rem 0 0 0;
  @include clearfix;
}

.file-input__no-files {
  text-align: center;
  @include clearfix;
}

.file-input__file {
  width: 100%;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  border-radius: $border-radius;
}

.file-input__file-close-button {
  cursor: pointer;
  float: right;
  line-height: 2rem;

  &:hover {
    color: $color-danger;
  }
}

.file-input__image-preview {
  float: left;
  margin-right: 1rem;
  width: 1.5rem;
  height: 2rem;
  overflow: hidden;
  line-height: 2rem;
}

.file-input__image-preview-image {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.file-input__file-icon {
  float: left;
  font-size: 2rem;
  margin-right: 1rem;
}

.file-input__file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input__file-size {
  color: $color-secondary;
  font-size: 0.7rem;
}

.file-input__error-container {
  color: $color-background-error;
  margin: 0.25rem 0;
  line-height: 1.2rem;
}

.file-input__error-list {
  margin: 0.8rem;
}

.file-input__error-icon {
  margin: 0 0.5rem;
}

.file-input__error {
  color: $color-background-error;
  font-size: 0.8rem;
  margin: 0.25rem 0;
  line-height: 1rem;
}
