@import '../theme.scss';
@import '../utils.scss';

.frame {
  display: block;
  background-color: $color-background;
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: $accent-box-shadow-1dp;
  @include clearfix;

  .frame__header {
    padding: 1rem;
    @include clearfix;
  }

  .frame__body {
    padding: 1rem;
    border-top: 1px solid $color-text-faded;
    @include clearfix;
  }

  .frame__body--borderless {
    padding: 0;
  }

  .frame__footer {
    padding: 1rem;
    @include clearfix;
  }
}
