@import '../utils.scss';
@import '../theme.scss';

.heading-details {
  color: $color-label;
  font-size: 0.8em;
  float: left;
  min-height: 2rem;
  @include clearfix;
}

.heading-details--link {
  cursor: pointer;

  &:hover {
    color: $color-primary;
  }
}
