@import '../utils.scss';
@import '../theme.scss';

.heading {
  @include clearfix;
}

.heading__above {
  @include clearfix;
}

.heading__below {
  @include clearfix;
}

.heading__h {
  font-weight: bold;
  display: block;

  &.heading__h--1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  &.heading__h--2 {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  &.heading__h--3 {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  &.heading__h--4 {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  &.heading__h--5 {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  &.heading__h--6 {
    font-size: 0.65rem;
    line-height: 0.8rem;
  }

  &.heading__h--float-left {
    float: left;
  }

  &.heading__h--underline {
    padding-bottom: 0.5rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid $color-text-faded;
  }

  .heading__loading-placeholder {
    display: inline-block;
    text-align: center;
    height: 70%;
    width: 45%;
    background-color: $color-placeholder;
    border-radius: $border-radius-placeholder;
  }
}

.heading__link {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}
