@import '../theme.scss';
@import '../utils.scss';

.image {
  width: 100%;
  height: auto;
  position: relative;
}

.image__fake {
  background-color: $color-img-placeholder-bg;
  height: 5rem;
  text-align: center;
}

.image__fake-icon {
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem 0 1rem 0;
  color: $color-img-placeholder-fg;
}

.image__error {
  background-color: $color-img-placeholder-bg;
  height: 5rem;
  text-align: center;
}

.image__error-icon-layers {
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem 0 1rem 0;
}

.image__error-icon-1 {
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  color: $color-img-placeholder-fg;
}

.image__error-icon-2 {
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  color: $color-img-placeholder-fg-error;
}

.image__loading {
  background-color: $color-img-placeholder-bg;
  height: 5rem;
  text-align: center;
}

.image__loading-icon-layers {
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem 0 1rem 0;
}

.image__loading-icon-1 {
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  color: $color-img-placeholder-fg;
}

.image__loading-icon-2 {
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  color: $color-img-placeholder-fg-loading;
}

.image__loaded {
  width: 100%;
  height: auto;
  display: block;
}

.image__loaded--hidden {
  display: none;
}
