@import '../theme.scss';
@import '../utils.scss';

$toggle-time: 0.2s;

.menu__toggle {
  width: 3rem;
  height: 3rem;
  background-color: $color-primary;
  color: $color-primary-text;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 3rem;
  font-size: 1.3rem;
  z-index: 5;

  &:hover {
    background-color: $color-primary-focus;
  }
}

.menu__overlay {
  position: absolute;
  background-color: #000;
  z-index: 3;

  &--visible {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: width 0s, height 0s, opacity $toggle-time;
  }

  &--hidden {
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 0s $toggle-time, height 0s $toggle-time,
      opacity $toggle-time;
  }
}

.menu {
  will-change: transform;
  background-color: $color-primary;
  width: 15rem;
  padding-top: 3rem;
  height: calc(100% - 3rem);
  float: left;
  box-shadow: $accent-box-shadow-3dp;
  overflow: hidden;
  transition: width $toggle-time;
  transition-timing-function: ease-out;
  position: relative;
}

.menu--open {
  width: 15rem;
}

.menu--closed {
  width: 3rem;
}

@media (min-width: $medium-device-min-width) {
  .menu__overlay--visible {
    display: none;
  }
}

@media (max-width: $small-device-max-width) {
  .menu__toggle:hover {
    background-color: $color-primary;
  }

  .menu {
    position: absolute;
    z-index: 4;
    float: none;
  }

  .menu--closed {
    width: 0rem;
  }
}

.menu__link {
  width: 15rem;
  height: 3rem;
  display: block;
  color: $color-primary-text;
  text-decoration: none;
  line-height: 3rem;
  box-sizing: border-box;
}

.menu__link--current {
  .menu__link-icon {
    width: calc(3rem - 5px);
    border-left: 5px solid $color-primary-text;
  }
  .menu__link-text {
    margin-left: 5px;
  }
}

.menu__link-icon {
  float: left;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1.3rem;
  box-sizing: border-box;
}

.menu__link-text {
  float: left;
  line-height: 3rem;
  padding: 0 1rem;
  font-size: 1.1rem;
}
