@import '../theme.scss';
@import '../utils.scss';

.notification {
  background-color: $color-background;
  border-radius: $border-radius;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: $accent-box-shadow-1dp;
  position: relative;
  @include clearfix;

  &__icon {
    font-family: FontAwesome;
    font-size: 1.5rem;
    margin: 1rem;
    width: 1.5rem;
    height: 100%;
    line-height: 1.5rem;
    min-height: 1.5rem;
    float: left;
  }

  &__message {
    padding: 1rem 1rem 1rem 0;
    margin-left: 3.5rem;
    min-height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 1.5rem;
  }

  &__dismiss-button {
    display: block;
    position: absolute;
    margin: 5px;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 0.8rem;
    height: 20px;
    width: 20px;
    line-height: 20px;
  }
}

.notification--error {
  background-color: $color-background-error;
  color: $color-background-error-foreground;
}

.notification--warning {
  background-color: $color-background-warning;
  color: $color-background-warning-foreground;
}

.notification--success {
  background-color: $color-background-success;
  color: $color-background-success-foreground;
}

.notification--info {
  background-color: $color-background-info;
  color: $color-background-info-foreground;
}
