@import '../theme.scss';

.progress-bar {
  background-color: transparent;
  width: 100%;
  height: 2px;
  margin: 0;
  padding: 0;

  &--in-progress {
    background-color: $color-progress-bar-background;
  }

  &__progress {
    background-color: $color-progress-bar;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &--no-layout {
    position: absolute;
    z-index: 10;
  }
}
