@import '../theme.scss';

.text-field {
  margin: 0 0 1.5rem 0;
  max-width: 20rem;

  &__label {
    color: $color-label;
    font-size: 1rem;
    padding: 0 0.5rem 0.5rem 0;
    border-bottom: 2px solid transparent;
  }

  &__input {
    font-family: $font-family-primary;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid $color-input-blur;
    font-size: 1rem;
    padding: 0.25rem 0.25rem;
    margin: 0;
    color: $color-input-text;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: $color-input-placeholder-text;
    }

    &:disabled {
      opacity: 0.5;
    }

    &:focus {
      border-bottom-color: $color-primary;
    }

    &--multiline {
      border-left: 1px solid $color-muted-focus;
      border-top: 1px solid $color-muted-focus;
      border-right: 1px solid $color-muted-focus;
      resize: vertical;
    }
  }

  &__readonly {
    padding: 0.25rem 0.25rem;
    height: 1.2rem;
    line-height: 1.2rem;
    width: 15rem;
    display: inline-block;
    box-sizing: border-box;
  }

  &__readonly--loading {
    background-color: $color-placeholder;
    border-radius: $border-radius-placeholder;
  }

  &__error {
    color: $color-background-error;
    font-size: 0.8rem;
    margin: 0.25rem 0;
    line-height: 1rem;
  }
}

.text-field--stacked {
  .text-field {
    &__label {
      display: block;
      font-size: 0.8rem;
      padding-bottom: 0.25rem;
      padding-right: 0;
    }

    &__input {
      margin: 0;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
