@import '../theme.scss';
@import '../utils.scss';

.toolbar {
  height: 3rem;
  background-color: $color-toolbar;
  box-shadow: $accent-box-shadow-2dp;
  position: relative;
  z-index: 2;
}

.toolbar__search {
  width: 40rem;
  max-width: 60%;
  height: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (max-width: $small-device-max-width) {
  .toolbar {
    box-shadow: none;
    box-shadow: $accent-box-shadow-1dp;
  }
}
