@import './theme.scss';

body,
html {
  margin: 0;
  padding: 0;
  font-family: $font-family-primary;
  font-size: 16px;
  color: $color-text;
  height: 100%;
  width: 100%;
}

input {
  font-family: Roboto, sans-serif;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: inherit;
}

#root {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: $color-dashboard-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}
