$font-family-primary: 'Roboto', Arial, sans-serif;

$color-dashboard-background: #eeeeee;

$fg-blue: rgb(0, 180, 255);
$fg-green: rgb(30, 180, 80);
$fg-red: rgb(230, 70, 60);
$fg-yellow: rgb(210, 150, 30);
$fg-gray: rgb(140, 140, 140);

$color-img-placeholder-bg: #ccc;
$color-img-placeholder-fg: #aaa;
$color-img-placeholder-fg-error: #c88;
$color-img-placeholder-fg-loading: $fg-blue;

$color-placeholder: rgb(220, 220, 220);
$border-radius-placeholder: 5px;

$color-primary: $fg-blue;
$color-primary-focus: lighten($color-primary, 15%);
$color-primary-text: #ffffff;

$color-secondary: $fg-gray;
$color-secondary-focus: lighten($color-secondary, 12%);
$color-secondary-text: #ffffff;

$color-success: $fg-green;
$color-success-focus: lighten($color-success, 8%);
$color-success-text: #ffffff;

$color-danger: $fg-red;
$color-danger-focus: lighten($color-danger, 10%);
$color-danger-text: #ffffff;

$color-warning: $fg-yellow;
$color-warning-focus: lighten($color-warning, 10%);
$color-warning-text: #ffffff;

$color-outline: #333;

$color-outline-focus: #eeeeee;

$color-toolbar: #fff;

$color-background: #ffffff;
$color-text: #666666;
$color-label: #888888;
$color-input-blur: #aaaaaa;

$color-text-faded: #cccccc;
$color-input-text: #333333;
$color-input-placeholder-text: #aaaaaa;

$color-neutral: #bbbbbb;
$color-neutral-focus: lighten($color-neutral, 5%);
$color-neutral-text: #ffffff;

$color-muted: #ffffff;
$color-muted-focus: #eeeeee;
$color-muted-text: $color-primary;

$border-radius: 2px;

$small-device-max-width: 768px;
$medium-device-min-width: 769px;
$medium-device-max-width: 992px;
$large-device-min-width: 993px;

$color-background-error: rgb(230, 70, 60);
$color-background-error-foreground: #ffffff;

$color-background-warning: rgb(210, 150, 30);
$color-background-warning-foreground: #ffffff;

$color-background-success: rgb(30, 180, 80);
$color-background-success-foreground: #ffffff;

$color-background-info: $fg-blue;
$color-background-info-foreground: #ffffff;

$color-progress-bar: $color-primary;
$color-progress-bar-background: #dddddd;

$accent-box-shadow-half-dp: 0 0px 2px 0 rgba(0, 0, 0, 0.14),
  0 0px 1px -2px rgba(0, 0, 0, 0.1), 0 0px 5px 0px rgba(0, 0, 0, 0.12);

$accent-box-shadow-1dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0px rgba(0, 0, 0, 0.12);

$accent-box-shadow-2dp: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
  0 4px 2px -2px rgba(0, 0, 0, 0.1), 0 2px 6px 0px rgba(0, 0, 0, 0.12);

$accent-box-shadow-3dp: 0 4px 4px 0 rgba(0, 0, 0, 0.14),
  0 5px 3px -3px rgba(0, 0, 0, 0.1), 0 3px 7px 1px rgba(0, 0, 0, 0.2);
