@import '../../utils.scss';
@import '../../theme.scss';

$color-drag-placeholder: darken($color-dashboard-background, 10%);

.create-module {
  background-color: $color-background;
  box-shadow: $accent-box-shadow-1dp;
  padding: 0.7rem;
  margin: 0.5rem 0 0.5rem 0;
  @include clearfix;
}

.create-module__textfield {
  width: calc(100% - 7rem);
  float: left;
  @include clearfix;
}

.create-module__buttons {
  width: 7rem;
  margin-left: -7rem;
  float: right;
  @include clearfix;
}

.create-unit {
  background-color: $color-background;
  box-shadow: $accent-box-shadow-1dp;
  padding: 0.5rem;
  margin: 1rem 0.5rem 0 1rem;
  @include clearfix;
}

.create-unit__textfield {
  width: calc(100% - 7rem);
  float: left;
  @include clearfix;
}

.create-unit__buttons {
  width: 7rem;
  margin-left: -7rem;
  float: right;
  @include clearfix;
}

.course-content {
  position: relative;
  padding: 0 1rem;
}

.module-placeholder,
.unit-placeholder {
  background-color: transparent;
  margin: 1rem 0;
  position: relative;
}

.unit-placeholder {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.module-placeholder--dragging,
.unit-placeholder--dragging {
  background-color: $color-drag-placeholder;
}

.module {
  user-select: none;
  cursor: grab;
  position: relative;
  margin: 1rem 0;
}

.module--non-draggable,
.unit--non-draggable {
  cursor: default;
  opacity: 0.5;
}

.module--dragging,
.unit--dragging {
  opacity: 0.75;
}

.module__heading {
  //touch-action: none;
  background-color: $color-background;
  box-shadow: $accent-box-shadow-1dp;
  padding: 0.7rem;
  @include clearfix;
}

.module__units {
  padding-left: 2rem;
  padding-right: 0.5rem;
}

.unit {
  user-select: none;
  cursor: grab;
  background-color: $color-background;
  box-shadow: $accent-box-shadow-1dp;
  padding: 0.5rem;
}

.module-drop-target,
.unit-drop-target {
  border: 1px dashed $color-outline;
  background-color: $color-drag-placeholder;
  height: 0.5rem;
  border-radius: 2px;
  display: none;
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  width: 100%;
}

.unit-drop-target--below {
  width: calc(100% - 1.5rem);
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.module-drop-target--visible,
.unit-drop-target--visible {
  display: block;
  z-index: 1;
}

.module-drop-target--active,
.unit-drop-target--active {
  border: none;
  background-color: $color-primary;
  z-index: 2;
}

.module-drop-target--last {
  width: calc(100% - 2rem);
}
